<section class="overlay"></section>

<section class="prg-transport d-flex flex-column align-items-center h-100">
    <div class="d-flex w-100 align-items-center">
        <div class="trapez-lewy"></div>
        <div class="d-flex flex-column align-items-center">
            <div class="airstrike-font">PRG</div>
            <div class="time-font">TRANSPORT</div>
        </div>
        <div class="trapez-prawy"></div>
    </div>

    <div class="container-oferta d-flex flex-column justify-content-center w-100">

        <div class="oferta">
            <div class="oferujemy">
                <h3>OFERUJEMY</h3>
            </div>
            <div class="uslugi-nazwy">
                <h3>PRZEPROWADZKI - TRANSPORT - BAGAŻÓWKA</h3>
            </div>
            <div class="opis">
                Z naszą pomocą przeprowadzisz się do dowolnej dzielnicy Trójmiasta, w okolice Trójmiasta, do innego miasta, a nawet do innego kraju ! Nasze usługi wykonywane są kompleksowo,  bezpiecznie i atrakcyjnie finansowo !
            </div>
        </div>

        <img class="bus-czarny" src="./assets/bus-czarny.png" alt="czarny-bus">

        <div class="d-flex flex-column align-items-center gap-4 buttons-container">
            <button type="button" class="btn btn-lg moj-button" (click)="callNumber1()">Zadzwoń: 780 719 067</button>
            <button type="button" class="btn btn-lg moj-button" (click)="scrollTo()">Napisz do nas</button>
        </div>
    
    </div>
</section>