.airstrike-font{
    font-family: 'airstrike';
    font-size: 40px;
    padding-right: 10px;
}

.time-font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 3px;
}

.ikonka-kontaktu{
    // background: #BC9409;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
}