<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="background: #222">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center text-white">
                <div class="d-flex align-items-center">
                    <span class="airstrike-font">PRG</span>
                    <span class="time-font">Transport</span>
                </div>
                <div class="text-center py-2">
                    PRG Transport świadczy usługi transportowe w Polsce jak i w Europie.
                    Zapraszamy do kontaktu:
                </div>
                <div><a href="tel:+48780719067">Tel: 780 719 067</a></div>
                <div><a href="tel:+48780719068">Tel: 780 719 068</a></div>
                <div><a href="mailto:prgtransport.kontakt@gmail.com">Email: prgtransport.kontakt@gmail.com</a></div>
            </div>

            <hr class="d-sm-none my-3 text-white"/>

            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center text-white">
                <span class="tytul-kontaktu">Zaobserwuj nas!</span>
                <div class="">
                    <a href="https://www.facebook.com/profile.php?id=61553030566538" target="_blank">
                        <i class="fa-brands fa-facebook ikonka-kontaktu"></i>
                    </a>
                    <!-- <i class="fa-brands fa-instagram ikonka-kontaktu"></i>
                    <i class="fa-brands fa-whatsapp ikonka-kontaktu"></i> -->
                </div>
            </div>

        </div>
    </div>
</footer>
<div class="col-12 text-white d-flex flex-column align-items-center justify-content-center py-3" style="background-color: #1B1B1B;">
    Copyright &copy; 2024 - PRG Transport
</div>