.airstrike-font{
    font-family: 'airstrike';
    font-size: 40px;
    padding-right: 10px;
}

.time-font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 3px;
}

a{
    cursor: pointer;
}