<section class="overlay"></section>

<section id="realizacja" class="position-relative d-flex flex-column align-items-center">
    <div class="container text-white">

        <h2 class="pb-2 border-bottom d-flex align-items-center">
            <div class="trapez-lewy"></div>
            Realizacje
        </h2>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="./assets/zdjecia/transport_zima.jpg" alt="Zlecenie transportowe zimą" />
                </div>
                <div class="carousel-caption">
                    <h3>Transport w zimę</h3>
                    <p>Transport w każdych warunkach pogodowych</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="./assets/zdjecia/transport_wieczor.jpg" alt="Zlecenie transportowe w nocy" />
                </div>
                <div class="carousel-caption">
                    <h3>Transport w nocy</h3>
                    <p>Transport o każdej godzinie</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="./assets/zdjecia/transport_gabaryt.jpg" alt="Zlecenie transportowe gabarytów" />
                </div>
                <div class="carousel-caption">
                    <h3>Transport gabarytów</h3>
                    <p>Transport każdego towaru</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="./assets/zdjecia/transport_firma.jpg" alt="współpraca partnerska" />
                </div>
                <div class="carousel-caption">
                    <h3>Współpraca partnerska</h3>
                    <p>Stała współpraca z firmami</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="./assets/zdjecia/transport_biur.jpg" alt="Transport biur" />
                </div>
                <div class="carousel-caption">
                    <h3>Transport firm</h3>
                    <p>Przeprowadzki biur oraz magazynów</p>
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="wrap-button">
            <a class="btn btn-lg moj-button" href="tel:+48780719067">
                <span class="material-icons">phone_iphone</span>
                Zadzwoń do nas
            </a>
        </div>
    </div>


</section>


