<section id="oferta" class="bg-dark">
    <div class="container text-white">

        <h2 class="d-flex align-items-center">
            <div class="trapez-lewy"></div>
            Oferta
        </h2>
        <div class="tekst">
            Oferujemy błyskawiczną wycenę naszych usług, ze szczególnym naciskiem na usługi transportowe dostępne na obszarze Trójmiasta, w tym również w Pruszczu Gdańskim. 
            <br><br>
            W większości przypadków dokonujemy natychmiastowej oceny kosztów, umożliwiając naszym klientom szybkie i klarowne informacje dotyczące planowanych usług. 
            <br><br>
            W naszej ofercie kładziemy duży nacisk na transparentność i konkurencyjność cen, zapewniając naszym klientom pewność, że oferujemy atrakcyjne stawki. Niezależnie od rodzaju usługi, nasza firma zobowiązuje się do szybkiego i profesjonalnego świadczenia usług, mając na uwadze indywidualne potrzeby każdego klienta.
        </div>
    </div>
</section>