<section class="bg-dark">
    <div class="container text-white">

        <h2 class="d-flex align-items-center">
            <div class="trapez-lewy"></div>
            O nas
        </h2>
        <div class="row">

            <div class="col-12 col-lg-10 tekst">
                Jesteśmy dynamiczną firmą transportową, z główną siedzibą w Pruszczu Gdańskim, jednak nasza oferta
                przewozowa
                obejmuje nie tylko lokalny obszar, ale także każdy region, gdzie Państwa potrzeby transportowe nas
                zaprowadzą.
                Posiadamy różnorodny tabor pojazdów dostawczych, co pozwala nam dostosować się do różnych rodzajów
                ładunków
                i
                indywidualnych wymagań klientów.
                <br><br>

                Nasza firma opiera się na profesjonalizmie, terminowości, atrakcyjnych cenach oraz bezpieczeństwie. Bez względu na to, czy potrzebujecie transportu lokalnego, krajowego czy międzynarodowego, jesteśmy gotowi sprostać Państwa oczekiwaniom.
                <br><br>
            </div>
            <div class="col-12 col-lg-2">
                <img src="./assets/bus-front.png" alt="przod busa">
            </div>
        </div>
    </div>
</section>