<section class="bg-dark">
    <div class="container text-white">

        <h2 class="d-flex align-items-center">
            <div class="trapez-lewy"></div>
            O nas
        </h2>
        <div class="row">

            <div class="col-12 col-lg-10 tekst">
                Jesteśmy dynamiczną firmą transportową, z główną siedzibą w Pruszczu Gdańskim, jednak nasza oferta
                przewozowa
                obejmuje nie tylko lokalny obszar, ale także każdy region, gdzie Państwa potrzeby transportowe nas
                zaprowadzą.
                Posiadamy różnorodny tabor pojazdów dostawczych, co pozwala nam dostosować się do różnych rodzajów
                ładunków
                i
                indywidualnych wymagań klientów.
                <br><br>

                Nasze zaangażowanie w świadczenie usług transportowych opiera się na profesjonalizmie oraz
                skrupulatności,
                co
                przekłada się na pewne i terminowe dostawy. Bez względu na to, czy potrzebujecie transportu lokalnego
                czy
                międzyregionalnego, jesteśmy gotowi sprostać oczekiwaniom, dostarczając Wasze przesyłki dokładnie tam,
                gdzie
                są
                potrzebne.
                <br><br>

                Wychodząc naprzeciw różnorodnym potrzebom klientów, nasza firma stanowi nie tylko solidnego partnera dla
                przedsiębiorstw z Pruszcza Gdańskiego, ale również dla tych zlokalizowanych w innych regionach. Jesteśmy
                gotowi
                podjąć się każdego wyzwania transportowego i dostarczyć Państwu kompleksowe usługi na najwyższym
                poziomie.
            </div>
            <div class="col-12 col-lg-2">
                <img src="./assets/bus-front.png" alt="przod busa">
            </div>
        </div>
    </div>
</section>