<section class="bg-dark">
    <div class="container text-white">

        <h2 class="d-flex align-items-center">
            <div class="trapez-lewy"></div>
            O nas
        </h2>
        <div class="row">

            <div class="col-12 col-lg-10 tekst">
                Jesteśmy firmą transportową, która wyróżnia się całodobową dostępnością. Bez względu na porę dnia, zapewniamy niezawodne usługi logistyczne, zawsze gotowi sprostać oczekiwaniom naszych klientów. Nasza obsługa klienta 24/7 pozwala dostarczać szybkie i efektywne rozwiązania, czyniąc nas renomowanym partnerem w branży transportowej.
                <br><br>

                Nasza firma opiera się na profesjonalizmie, terminowości, atrakcyjnych cenach oraz bezpieczeństwie. Bez względu na to, czy potrzebujecie transportu lokalnego, krajowego czy międzynarodowego, jesteśmy gotowi sprostać Państwa oczekiwaniom.
                <br><br>
            </div>
            <div class="col-12 col-lg-2">
                <img src="./assets/bus-front.png" alt="przod busa">
            </div>
        </div>
    </div>
</section>